*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*top section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.top{
	border-bottom:3px solid #eee;
	padding:2px;
	
}
.top-flex{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:15px 0;
}
.top-contact span{
	padding:2px;
}
.top-contact i{
	color:#1aa3ff;
	padding:6px;
}
.top-media{
	display:none;
}

}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.top{
	border-bottom:3px solid #eee;
	padding:2px;
	
}
.top-flex{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:15px 0;
}
.top-contact span{
	padding:5px;
}
.top-contact i{
	color:#1aa3ff;
	padding:6px;
}
.top-media i{
	padding:5px;
	color: #5c768d;
}
.top-media{
	display:block;
}
.top-media i:hover{
	color:#1aa3ff;
}
}
@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
}
.top{
	border-bottom:3px solid #eee;
	padding:2px;
	
}
.top-flex{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:15px 0;
}
.top-contact span{
	padding:5px;
}
.top-contact i{
	color:#1aa3ff;
	padding:6px;
}
.top-media i{
	padding:10px;
	color: #5c768d;
}
.top-media{
	display:block;
}
.top-media i:hover{
	color:#1aa3ff;
}
}
/*header section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.header-content{
	display:flex;
}
.header{
	background-color:white;
	width:100%;
}
.header-content{
	padding:20px 0;
	justify-content:space-between;
	align-items:center;
}
.header-logo h1{
	font-size:2rem;
	color: #1c5c93;
}
.header-menu{
	display:none;
}
.i-none i{
	font-size:1.8rem;
	padding:15px;
}

}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.header-content{
	display:flex;
}
.header{
	background-color:white;
	width:100%;
}
.header-content{
	padding:20px 0;
	justify-content:space-between;
	align-items:center;
}
.header-logo h1{
	font-size:2rem;
	color: #1c5c93;
}
.header-menu{
	display:none;
}
.i-none i{
	font-size:1.8rem;
	padding:15px;
}

}
@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
}
.header-content{
	display:flex;
}
.header{
	background-color:white;
}
.header-content{
	justify-content:space-between;
	padding:20px 0;
	align-items:center;
}
.header-logo h1{
	font-size:2rem;
	color: #1c5c93;
}
.header-menu a{
	text-decoration:none;
	padding:10px ;
	font-size:1.25rem;
	color:#8c8c8c;
}
.header-menu{
	display:block;
}
.header-menu a:hover{
	color: #428bca;
}
.i-none{
	display:none;
}
}

/*banner section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.banner{
	background-image:url(../img/slide/slide-2.jpg);
	background-size:cover;
	height:80vh;
	width:100%;
	background-attachment:fixed;
	position:relative;
	background-position:right;
}
.banner::after{
	content:"";
	position:absolute;
	background-color:rgba(13,30,45,0.6);
	opacity:1;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.banner-content{
	z-index:997;
	position:relative;
	padding:7rem 0;
}
.banner-head h1{
	color:white;
	font-size:1.9rem;
	margin-bottom:1.5rem;
	font-weight:600;
}
.banner-para p{
	font-size:1.1rem;
	width:70%;
	line-height:1.3rem;
	color:white;
	margin-bottom:2.5rem;
	text-align:justify;
}
.banner-button a{
	text-decoration:none;
	letter-spacing:2px;
	border:1px solid #428bca;
	background-color:#428bca;
	color:white;
	padding:10px;
	border-radius:10px;
	font-size:1rem;
}

}

@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.banner{
	background-image:url(../img/slide/slide-2.jpg);
	background-size:cover;
	height:80vh;
	width:100%;
	background-attachment:fixed;
	position:relative;
}
.banner::after{
	content:"";
	position:absolute;
	background-color:rgba(13,30,45,0.6);
	opacity:1;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.banner-content{
	z-index:997;
	position:relative;
	padding:7rem 0;
}
.banner-head h1{
	color:white;
	font-size:2.3rem;
	margin-bottom:2rem;
	font-weight:600;
}
.banner-para p{
	font-size:1.2rem;
	width:70%;
	line-height:1.5rem;
	color:white;
	margin-bottom:2.5rem;
	text-align:justify;
}
.banner-button a{
	text-decoration:none;
	letter-spacing:2px;
	border:1px solid #428bca;
	background-color:#428bca;
	color:white;
	padding:10px;
	border-radius:10px;
	font-size:1.1rem;
}
.banner-button a:hover{
		background-color:#1c5c93;
}
}

@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
}
.banner{
	background-image:url(../img/slide/slide-2.jpg);
	background-size:cover;
	height:80vh;
	width:100%;
	background-attachment:fixed;
	position:relative;
}
.banner::after{
	content:"";
	position:absolute;
	background-color:rgba(13,30,45,0.6);
	opacity:1;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.banner-content{
	z-index:997;
	position:relative;
	padding:7rem 0;
}
.banner-head h1{
	color:white;
	font-size:3rem;
	margin-bottom:2rem;
	font-weight:600;
}
.banner-para p{
	font-size:1.2rem;
	width:70%;
	line-height:1.5rem;
	color:white;
	margin-bottom:2.5rem;
	text-align:justify;
}
.banner-button a{
	text-decoration:none;
	letter-spacing:2px;
	border:1px solid #428bca;
	background-color:#428bca;
	color:white;
	padding:14px;
	border-radius:10px;
	font-size:1.1rem;
}
.banner-button a:hover{
		background-color:#1c5c93;
}
}

/*about section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.about{
	margin:3vh 0;
}
.about-flex{
	box-shadow:0 5px 25px 0 rgb(214 215 216 / 60%);
	width:100%;
	height:auto;
	display:block;
}
.about-img{
	width:100%;
	position:relative;
	z-index:1;
}
.play-icon{
	position:absolute;
	content:"";
	top:48%;
	right:0;
	bottom:0;
	left:8%;
}
.play-icon i{
	font-size:1.3rem;
	color:white;
	background-color:#5eaadd;
	border-radius:50%;
	height:65px;
	width:65px;
	justify-content:center;
	align-items:center;
	display:flex;
	margin:auto;
}
.about-content{
	width:100%;
	padding:2rem;
	margin-top:3rem;
}
.about-img img{
	width:100%;
	padding:2rem;
}
.para-flex{
	display:flex;
	margin-bottom:2rem;
}
.about-title h1{
	font-size:2.1rem;
	text-align:center;
	color: #5c768d;
	margin-bottom:2rem;
}
.about-title p{
	font-size:1.25rem;
	line-height:1.3rem;
	margin-bottom:3rem;
	color: #666;
	
}
.about-para h2{
	font-size:1.2rem;
	margin-bottom:1.3rem;
	font-weight:bold;
}
.about-para p{
	font-size:1.15rem;
	color: #666;
}
.about-para i{
	font-size:1.8rem;
	color: #428bca;
}
.para-left{
	margin-left:3rem;
	width:100%;
}
.para-left h2:hover{
	color: #428bca;
}
.para-flex:hover i{
	background: #428bca;
	color:white;
	border:1px solid #428bca;
	border-radius:10px;
	padding:0.5rem;
}
.para-icon{
	width:5%;
}
.para-icon i{
	background: #ccffee;
	border-radius:6px;
	padding:10px;
}
}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.about{
	margin:8vh 0;
}
.about-flex{
	box-shadow:0 5px 25px 0 rgb(214 215 216 / 60%);
	width:100%;
	height:auto;
	display:block;
}
.about-img{
	width:100%;
	position:relative;
	z-index:1;
}
.play-icon{
	position:absolute;
	content:"";
	top:48%;
	right:0;
	bottom:0;
	left:8%;
}
.play-icon i{
	font-size:1.3rem;
	color:white;
	background-color:#5eaadd;
	border-radius:50%;
	height:65px;
	width:65px;
	justify-content:center;
	align-items:center;
	display:flex;
	margin:auto;
}
.about-content{
	width:100%;
	padding:2rem;
	margin-top:3rem;
}
.about-img img{
	width:100%;
	padding:2rem;
	
}
.para-flex{
	display:flex;
	margin-bottom:2rem;
}
.about-title h1{
	font-size:2.1rem;
	text-align:center;
	color: #5c768d;
	margin-bottom:2rem;
}
.about-title p{
	font-size:1.25rem;
	line-height:1.3rem;
	margin-bottom:3rem;
	color: #666;
	
}
.about-para h2{
	font-size:1.2rem;
	margin-bottom:1.3rem;
	font-weight:bold;
}
.about-para p{
	font-size:1.15rem;
	color: #666;
}
.about-para i{
	font-size:1.8rem;
	color: #428bca;
}
.para-left{
	margin-left:3rem;
	width:100%;
}
.para-left h2:hover{
	color: #428bca;
}
.para-flex:hover i{
	background: #428bca;
	color:white;
	border:1px solid #428bca;
	border-radius:10px;
	padding:0.5rem;
}
.para-icon{
	width:5%;
}
.para-icon i{
	background: #ccffee;
	border-radius:6px;
	padding:10px;
}
}
@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
}
.about{
	margin:10vh 0;
}
.about-flex{
	box-shadow:0 5px 25px 0 rgb(214 215 216 / 60%);
	width:100%;
	height:auto;
	display:flex;
}
.about-img{
	width:50%;
	position:relative;
	z-index:1;
}
.play-icon{
	position:absolute;
	content:"";
	top:48%;
	right:0;
	bottom:0;
	left:8%;
}
.play-icon i{
	font-size:1.2rem;
	color:white;
	background-color:#5eaadd;
	border-radius:50%;
	height:65px;
	width:65px;
	justify-content:center;
	align-items:center;
	display:flex;
	margin:auto;
}
.about-content{
	width:50%;
	padding:2rem;
	margin-top:3rem;
}
.about-img img{
	width:100%;
	padding:2rem;
}
.para-flex{
	display:flex;
	margin-bottom:2rem;
}
.para-flex:hover i{
	background: #428bca;
	color:white;
	border:1px solid #428bca;
	border-radius:10px;
	padding:0.5rem;
}
.about-title h1{
	font-size:2.1rem;
	text-align:center;
	color: #5c768d;
	margin-bottom:2rem;
}
.about-title p{
	font-size:1.25rem;
	line-height:1.3rem;
	margin-bottom:3rem;
	color: #666;
	
}
.about-para h2{
	font-size:1.2rem;
	margin-bottom:1.3rem;
	font-weight:bold;
}
.about-para p{
	font-size:1.15rem;
	color: #666;
}
.about-para i{
	font-size:1.8rem;
	color: #428bca;
}
.para-left{
	margin-left:3rem;
	width:100%;
}
.para-left h2:hover{
	color: #428bca;
}
.para-icon{
	width:5%;
}
.para-icon i{
	background: #ccffee;
	border-radius:6px;
	padding:10px;
}
}

/*number section*/
@media(min-width:360px){
.container{
		width:90%;
		margin:auto;
	}
.number{
	background-color:white;
}
.number-flex{
	display:block;
	flex-wrap:wrap;
	
}
.box1{
	width:100%;
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box2{
	width:100%;
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box3{
	width:100%;
	border-bottom:1px solid #d9e8f4;
	padding:2rem;
}
.box4{
	width:100%;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box5{
	width:100%;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box6{
	width:100%;
	padding:2rem;
}
.number-flex h2{
	color: #9eccf4;
	font-weight:bold;
	font-size:2.1rem;
	margin:1.7rem 0;
}
.number-flex p{
	color: #aaaaaa;
	font-size:1.1rem;
}
.number-flex h1{
	font-size:2rem;
	margin:1.7rem 0;
}
}
@media(min-width:560px){
	.container{
		width:90%;
		margin:auto;
	}
.number{
	background-color:white;
}
.number-flex{
	display:flex;
	flex-wrap:wrap;
	
}
.box1{
	width:50%;
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box2{
	width:50%;
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box3{
	width:50%;
	border-bottom:1px solid #d9e8f4;
	padding:2rem;
}
.box4{
	width:50%;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box5{
	width:50%;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box6{
	width:50%;
	padding:2rem;
}
.number-flex h2{
	color: #9eccf4;
	font-weight:bold;
	font-size:2.1rem;
	margin:1.7rem 0;
}
.number-flex p{
	color: #aaaaaa;
	font-size:1.1rem;
}
.number-flex h1{
	font-size:2rem;
	margin:1.7rem 0;
}
}
@media(min-width:992px){
	.container{
		width:85%;
		margin:auto;
	}
.number{
	background-color:white;
}
.number-flex{
	display:flex;
	flex-wrap:wrap;
	
}
.box1{
	width:33.3%;
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box2{
	width:33.3%;
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box3{
	width:33.3%;
	border-bottom:1px solid #d9e8f4;
	padding:2rem;
}
.box4{
	width:33.3%;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box5{
	width:33.3%;
	border-right:1px solid #d9e8f4;
	padding:2rem;
}
.box6{
	width:33.3%;
	padding:2rem;
}
.number-flex h2{
	color: #9eccf4;
	font-weight:bold;
	font-size:2.1rem;
	margin:1.7rem 0;
}
.number-flex p{
	color: #aaaaaa;
	font-size:1.1rem;
}
.number-flex h1{
	font-size:2rem;
	margin:1.7rem 0;
}
}
/* counting section*/
@media(min-width:360px){
.container{
		width:90%;
		margin:auto;
	}
.counting{
	background-color: #f5f9fc;
	margin:6rem 0;
	padding:3.7rem 0;
}
.count-flex{
	display:block;
	padding:20px 0;
}
.count-card{
	width:100%;
	box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
    padding: 4rem;
    background: #fff;
    margin-bottom: 30px;
	text-align:center;
}
.count-card h1{
	font-size:2.3rem;
	font-weight:bold;
	color: #1c5c93;
	margin-bottom:1.3rem;
}
.count-card p{
	color: #aaaaaa;
}
}
@media(min-width:560px){
.container{
		width:90%;
		margin:auto;
	}
.counting{
	background-color: #f5f9fc;
	margin:6rem 0;
	padding:3.7rem 0;
}
.count-flex{
	display:flex;
	padding:20px 0;
	flex-wrap:wrap;
	gap:1rem;
}
.count-card{
	width:46%;
	box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
    padding: 4rem;
    background: #fff;
    margin-bottom: 30px;
	text-align:center;
}
.count-card h1{
	font-size:2.3rem;
	font-weight:bold;
	color: #1c5c93;
	margin-bottom:1.3rem;
}
.count-card p{
	color: #aaaaaa;
}
}
@media(min-width:992px){
.container{
		width:85%;
		margin:auto;
	}
.counting{
	background-color: #f5f9fc;
	margin:6rem 0;
	padding:3.7rem 0;
}
.count-flex{
	display:flex;
	padding:20px 0;
	gap:2rem;
	flex-wrap:wrap;
	justify-content:center;
}
.count-card{
	width:22%;
	box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
    padding: 4rem;
    background: #fff;
    margin-bottom: 30px;
	text-align:center;
}
.count-card h1{
	font-size:2.3rem;
	font-weight:bold;
	color: #1c5c93;
	margin-bottom:1.3rem;
}
.count-card p{
	color: #aaaaaa;
}
}
/*service section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.service{
	background-color:white;
}
.service-title h1{
	font-size:2.5rem;
	text-align:center;
	color: #5c768d;
	font-weight:bold;
}
.service-content{
	width:100%;
	text-align:center;
}
.shadow-icon{
	display:flex;
	justify-content:center;
	align-items:center;
	height:80px;
	width:80px;
	box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
	border-radius:50%;
	font-size:2rem;
	color: #428bca;
	background-color:white;
	margin:auto;
}
.shadow-icon i{
	font-size:2rem;
}
.service-content h1{
	font-size:1.5rem;
	margin:3rem 0;
	
}
.service-content h1:hover{
	color:#428bca;
}
.service-content h1::after{
	content: "";
    position:relative;
    display:flex;
    width: 3.5rem;
    height:0.2rem;
    background-color: #428bca;
	margin:auto;
	top:10px;
	border-radius:25px;
}
.service-content p{
	font-size:1.1rem;
	color: #aaaaaa;
}
.service-flex1{
	display:flex;
	flex-wrap:wrap;
	gap:3.5rem;
	margin:7rem 0;
}
}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.service{
	background-color:white;
}
.service-title h1{
	font-size:2.5rem;
	text-align:center;
	color: #5c768d;
	font-weight:bold;
}
.service-content{
	width:40%;
	text-align:center;
}
.shadow-icon{
	display:flex;
	justify-content:center;
	align-items:center;
	height:80px;
	width:80px;
	box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
	border-radius:50%;
	font-size:2rem;
	color: #428bca;
	background-color:white;
	margin:auto;
}
.shadow-icon i{
	font-size:2rem;
}
.service-content h1{
	font-size:1.5rem;
	margin:3rem 0;
	
}
.service-content h1:hover{
	color:#428bca;
}
.service-content h1::after{
	content: "";
    position:relative;
    display:flex;
    width: 3.5rem;
    height:0.2rem;
    background-color: #428bca;
	margin:auto;
	top:10px;
	border-radius:25px;
}
.service-content p{
	font-size:1.1rem;
	color: #aaaaaa;
}
.service-flex1{
	display:flex;
	flex-wrap:wrap;
	gap:3.5rem;
	margin:7rem 0;
}
}
@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
}
.service{
	background-color:white;
}
.service-title h1{
	font-size:2.5rem;
	text-align:center;
	color: #5c768d;
	font-weight:bold;
}
.service-content{
	width:30%;
	text-align:center;
}
.shadow-icon{
	display:flex;
	justify-content:center;
	align-items:center;
	height:80px;
	width:80px;
	font-size:3rem;
	box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
	border-radius:50%;
	margin:auto;
	background-color:white;
}
.shadow-icon i{
	font-size:2rem;
}
.service-content h1{
	font-size:1.5rem;
	margin:3rem 0;
	
}
.service-content h1:hover{
	color:#428bca;
}
.service-content h1::after{
	content: "";
    position:relative;
    display:flex;
    width: 3.5rem;
    height:0.2rem;
    background-color: #428bca;
	margin:auto;
	top:10px;
	border-radius:25px;
}
.service-content p{
	font-size:1.1rem;
	color: #aaaaaa;
}
.service-flex1{
	display:flex;
	flex-wrap:wrap;
	gap:2rem;
	margin:7rem 0;
	justify-content:center;
}
.service-content:hover .shadow-icon{
	box-shadow:0 0 10px #428bca;
	transition:all 0.5s ease;
}
}
/* portfolio section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
	}
.port-title{
	text-align:center;
}
.port-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	margin-bottom:2.8rem;
}
.port-title p{
	line-height:1.5rem;
	font-size:1.2rem;
	margin-bottom:2.8rem;
}
.port-title a{
	text-decoration:none;
	color:black;
	padding:1rem;
}
.port-title a:hover{
	background: #428bca;
    color: #fff;
	border-radius:25%;
	transition: all 0.3s ease;
}
.port-flex{
	display:flex;
	flex-wrap:wrap;
	margin:2.8rem 0;
}
.port-img{
	width:100%;
	position:relative;
}
.port-hov h2{
	font-size:1.5rem;
	font-weight:bold;
}
.port-hov{
	text-align:center;
	color:white;
	line-height:1.8rem;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:#00000047;
	opacity:0;
	padding:4rem 0;
}
.port-img:hover .port-hov{
	opacity:1;
}
.port-icons i{
	background-color: white;
    color: #428bca;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
	font-size:1.7rem;
}
.port-img img{
	width:100%;
}
}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
	}
.port-title{
	text-align:center;
}
.port-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	margin-bottom:2.8rem;
}
.port-title p{
	line-height:1.5rem;
	font-size:1.2rem;
	margin-bottom:2.8rem;
}
.port-title a{
	text-decoration:none;
	color:black;
	padding:1rem;
}
.port-title a:hover{
	background: #428bca;
    color: #fff;
	border-radius:25%;
	transition: all 0.3s ease;
}
.port-flex{
	display:flex;
	flex-wrap:wrap;
	gap:1rem;
	margin:2.8rem 0;
}
.port-img{
	width:46%;
	position:relative;
}
.port-hov h2{
	font-size:1.5rem;
	font-weight:bold;
}
.port-icons i{
	background-color: white;
    color: #428bca;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
	font-size:1.7rem;
}

.port-hov{
	text-align:center;
	color:white;
	line-height:1.8rem;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:#00000047;
	opacity:0;
	padding:4rem 0;
}
.port-img:hover .port-hov{
	opacity:1;
}
.port-img img{
	width:100%;
}
}
@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
	}
.portfolio{
	background-color: #f5f9fc;
	padding:3rem;
}
.port-title{
	text-align:center;
}
.port-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	margin-bottom:2.8rem;
}
.port-title p{
	line-height:1.5rem;
	font-size:1.2rem;
	margin-bottom:2.8rem;
}
.port-title a{
	text-decoration:none;
	color:black;
	padding:1rem;
}
.port-title a:hover{
	background: #428bca;
    color: #fff;
	border-radius:25%;
	transition: all 0.3s ease;
}
.port-active{
	background: #428bca;
	border-radius:25%;
	color:white;
}
.port-flex{
	display:flex;
	flex-wrap:wrap;
	gap:1rem;
	margin:2.8rem 0;
	justify-content:center;
}
.port-img{
	width:32%;
	position:relative;
}
.port-hov h2{
	font-size:1.5rem;
	font-weight:bold;
}
.port-icons i{
	background-color: white;
    color: #428bca;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
	font-size:1.7rem;
}
.port-hov{
	text-align:center;
	color:white;
	line-height:1.8rem;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:#00000047;
	opacity:0;
	padding:4rem 0;
}
.port-img:hover .port-hov{
	opacity:1;
}
.port-img img{
	width:100%;
}
}
/*team section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.team{
	margin:5rem 0;
}
.team-title{
	text-align:center;
}
.team-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	margin-bottom:2.8rem;
}
.team-title p{
	line-height:1.5rem;
	font-size:1.2rem;
	margin-bottom:2.8rem;
}
.team-flex{
	display:block;
}
.team-row{
	width:100%;
	margin-bottom:6rem;
}
.team-img img{
	width:100%;
	border-radius:5%;
}
.team-img{
	position:relative;
}
.team-sub{
	background: linear-gradient(#8ca7bfcc, #8ca7bf);
	color:white;
	text-align:center;
	line-height:2rem;
	width:71%;
	margin:-3.5rem 0 0 2.5rem;
	border-radius:5%;
	position:absolute;
	padding:1rem 0;
}

.team-sub h2:after{
	content: "";
    position: relative;
    display: flex;
    width: 3.5rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 25px;
	margin:auto;
}
.team-sub i{
	letter-spacing:0.5rem;
}
}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.team{
	margin:5rem 0;
}
.team-title{
	text-align:center;
}
.team-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	margin-bottom:2.8rem;
}
.team-title p{
	line-height:1.5rem;
	font-size:1.2rem;
	margin-bottom:2.8rem;
}
.team-flex{
	display:flex;
	gap:3rem;
	flex-wrap:wrap;
}
.team-row{
	width:45%;
}
.team-img img{
	width:100%;
	border-radius:5%;
}
.team-img{
	position:relative;
}
.team-sub{
	background: linear-gradient(#8ca7bfcc, #8ca7bf);
	color:white;
	text-align:center;
	line-height:2rem;
	width:31%;
	margin:-3.5rem 0 0 1.8rem;
	border-radius:5%;
	position:absolute;
}


.team-sub h2:after{
	content: "";
    position: relative;
    display: flex;
    width: 3.5rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 25px;
	margin:auto;
}
.team-sub i{
	letter-spacing:0.5rem;
}
}
@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
}
.team{
	margin:5rem 0;
}
.team-title{
	text-align:center;
}
.team-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	margin-bottom:2.8rem;
}
.team-title p{
	line-height:1.5rem;
	font-size:1.2rem;
	margin-bottom:2.8rem;
}
.team-flex{
	display:flex;
	gap:1.4rem;
	justify-content:center;
}
.team-row{
	width:23%;
}
.team-img img{
	width:100%;
	border-radius:5%;
}
.team-img img:hover{
	transform:scale(1.1);
}
.team-img{
	position:relative;
	overflow:hidden;
}
.team-sub{
	background: linear-gradient(#8ca7bfcc, #8ca7bf);
	color:white;
	text-align:center;
	line-height:2rem;
	width:18%;
	margin:-3.5rem 0 0 0.3rem;
	border-radius:5%;
	position:absolute;
}
.team-sub h2:after{
	content: "";
    position: relative;
    display: flex;
    width: 3.5rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 25px;
	margin:auto;
}
.team-sub i{
	letter-spacing:0.5rem;
}
}
/*question section*/
@media(min-width:360px){
.containe{
	width:85%;
	margin:auto;
}
.question{
	margin:10rem 0;
	background-color: #f5f9fc;
    padding: 3rem;
}
.question-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	text-align:center;
	margin-bottom:2.8rem;
}
.question-flex{
	display:flex;
	flex-wrap:wrap;
}
.question-para{
	width:100%;
}
.question-para h3{
	font-size:1.6rem;
	color: #1f3548;
	margin-bottom:1.6rem;
}
.question-para p{
	font-size:1.1rem;
	line-height:1.5rem;
	margin-bottom:1.6rem;
}
}
@media(min-width:560px){
.container{
	width:85%;
	margin:auto;
}
.question{
	margin:10rem 0;
	background-color: #f5f9fc;
    padding: 3rem;
}
.question-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	text-align:center;
	margin-bottom:2.8rem;
}
.question-flex{
	display:flex;
	flex-wrap:wrap;
}
.question-para{
	width:100%;
}
.question-para h3{
	font-size:1.6rem;
	color: #1f3548;
	margin-bottom:1.6rem;
}
.question-para p{
	font-size:1.1rem;
	line-height:1.5rem;
	margin-bottom:1.6rem;
}
}
@media(min-width:992px){
.containe{
	width:85%;
	margin:auto;
}
.question{
	margin:10rem 0;
	background-color: #f5f9fc;
    padding:3rem;
}
.question-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	text-align:center;
	margin-bottom:2.8rem;
}
.question-flex{
	display:flex;
	flex-wrap:wrap;
	gap:2rem;
	justify-content:center;
}
.question-para{
	width:47%;
}
.question-para h3{
	font-size:1.6rem;
	color: #1f3548;
	margin-bottom:1.6rem;
}
.question-para p{
	font-size:1.1rem;
	line-height:1.5rem;
}
}
/*contect section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.contect-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	text-align:center;
	margin-bottom:2.5rem;
}
.box-tot{
	font-size: 2rem;
    color: #428bca;
    border-radius: 50%;
    padding:1rem;
    border: 2px dotted #9eccf4;
	display:flex;
	justify-content:center;
	align-items:center;
	height:80px;
	width:80px;
	border-radius:50%;
	margin:auto;
	background-color:white;
}
.contect-box{
	text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	width:100%;
}
.contect-flex h1{
	margin-top:2rem;
	font-size:1.3rem;
	color: #666;
	font-weight:bold;
	margin-bottom:1.4rem;
}
.contect-flex{
	display:flex;
	gap:3rem;
	flex-wrap:wrap;
}
.contect-box1{
	text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	width:100%;
}
.contect-box1 p{
	line-height:1.5rem;
}
.contect-sub{
	 box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	margin:4rem 0;
}
.form-text input{
	width:100%;
	height:3rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-subject input{
	width:100%;
	height:3rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-message textarea{
	width:100%;
	height:8rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-button{
	display: flex;
    margin: auto;
    padding:15px;
    align-items: center;
    justify-content: center;
}
.form-button a{
	text-decoration:none;
	background-color: #428bca;
	border-color:#428bca;
	color:white;
	padding:1.1rem;
	font-size:0.9rem;
}
}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.contect-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	text-align:center;
	margin-bottom:2.5rem;
}
.box-tot{
	font-size: 2rem;
    color: #428bca;
    border-radius: 50%;
    padding:1rem;
    border: 2px dotted #9eccf4;
	display:flex;
	justify-content:center;
	align-items:center;
	height:80px;
	width:80px;
	border-radius:50%;
	margin:auto;
	background-color:white;
}
.contect-box{
	text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	width:100%;
}
.contect-flex h1{
	margin-top:2rem;
	font-size:1.3rem;
	color: #666;
	font-weight:bold;
	margin-bottom:1.4rem;
}
.contect-flex{
	display:flex;
	gap:3rem;
	flex-wrap:wrap;
}
.contect-box1{
	text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	width:100%;
}
.contect-box1 p{
	line-height:1.5rem;
}
.contect-sub{
	 box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	margin:4rem 0;
}
.form-text input{
	width:100%;
	height:3rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-subject input{
	width:100%;
	height:3rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-message textarea{
	width:100%;
	height:8rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-button{
	display: flex;
    margin: auto;
    padding:15px;
    align-items: center;
    justify-content: center;
}
.form-button a {
	text-decoration:none;
	background-color: #428bca;
	border-color:#428bca;
	color:white;
	padding:1.1rem;
	font-size:0.9rem;
}
}
@media(min-width:992px){
.conatiner{
	width:85%;
	margin:auto;
}
.contect-title h1{
	font-size:2.5rem;
	color: #5c768d;
	font-weight:bold;
	text-align:center;
	margin-bottom:2.5rem;
}
.box-tot{
	font-size: 2rem;
    color: #428bca;
    border-radius: 50%;
    padding:1rem;
    border: 2px dotted #9eccf4;
	display:flex;
	justify-content:center;
	align-items:center;
	height:80px;
	width:80px;
	border-radius:50%;
	margin:auto;
	background-color:white;
}
.contect-box{
	text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	width:41%;
}
.contect-flex h1{
	margin-top:2rem;
	font-size:1.3rem;
	color: #666;
	font-weight:bold;
	margin-bottom:1.4rem;
}
.contect-flex{
	display:flex;
	gap:1rem;
	justify-content:center;
}
.contect-box1{
	text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	width:27%;
}
.contect-box1 p{
	line-height:1.5rem;
}
.contect-sub{
	 box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding:3rem;
	margin:4rem 0;
}
.form-text input{
	width:49%;
	height:3rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-subject input{
	width:98.5%;
	height:3rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-message textarea{
	width:98.5%;
	height:8rem;
	margin-bottom:2rem;
	border:1px solid #bfbfbf;
	padding:1rem;
}
.form-button{
	display: flex;
    margin: auto;
    width: 17%;
    align-items: center;
    justify-content: center;
}
.form-button a{
	text-decoration:none;
	background-color: #428bca;
	border-color:#428bca;
	color:white;
	padding:1.1rem;
	font-size:0.9rem;
}
}
/*footer section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.footer{
	background: #5c768d;
	padding:3rem;
}
.footer-flex{
	display:flex;
	flex-wrap:wrap;
}
.footer-title{
	width:100%;
}
.footer-link{
	width:100%;
	margin-top:2rem;
}
.footer-link2{
	width:100%;
}
.footer-title h1{
	color:white;
	font-size:1.6rem;
	font-weight:bold;
	margin-bottom:1.3rem;
}
.footer-title pre{
	color:white;
	line-height:1.5rem;
}
.footer-title p{
	color:white;
	line-height:0.7rem;
	margin-bottom:1.3rem;
}
.footer-title span{
	font-weight:bold;
}
.footer-title i{
	padding:0.5rem;
	background: #768fa6;
    color: #fff;
	border-radius:50%;
}
.footer-link{
	line-height:2.3rem;
}
.footer-link h2{
	font-size:1.4rem;
	font-weight:bold;
	color:white;
}
.footer-link li{
	color:white;
}
.footer-link i{
	color: #9eccf4;
}
.footer-link2 h2{
	font-size:1.4rem;
	font-weight:bold;
	color:white;
	margin-bottom:1.4rem;
}
.footer-link2 p{
	font-size:1.1rem;
	color:white;
	margin-bottom:1.4rem;
}
.footer-link2 input{
	width:80%;
	height:2.5rem;
	position:relative;
}
.footer-link2 a{
	text-decoration:none;
	background-color: #5295ce;
	color:white;
	padding:0.8rem;
	position:absolute;
	border-color:#5295ce;
}
}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.footer{
	background: #5c768d;
	padding:3rem;
}
.footer-flex{
	display:block;
	flex-wrap:wrap;
}
.footer-title{
	width:100%;
}
.footer-link{
	width:100%;
}
.footer-link2{
	width:100%;
}
.footer-title h1{
	color:white;
	font-size:1.6rem;
	font-weight:bold;
	margin-bottom:1.3rem;
}
.footer-title pre{
	color:white;
	line-height:1.5rem;
}
.footer-title p{
	color:white;
	line-height:1.5rem;
	margin-bottom:1.3rem;
}
.footer-title span{
	font-weight:bold;
}
.footer-title i{
	padding:0.5rem;
	background: #768fa6;
    color: #fff;
	border-radius:50%;
}
.footer-link{
	line-height:2.3rem;
}
.footer-link h2{
	font-size:1.4rem;
	font-weight:bold;
	color:white;
}
.footer-link li{
	color:white;
}
.footer-link i{
	color: #9eccf4;
}
.footer-link2 h2{
	font-size:1.4rem;
	font-weight:bold;
	color:white;
	margin-bottom:1.4rem;
}
.footer-link2 p{
	font-size:1.1rem;
	color:white;
	margin-bottom:1.4rem;
}
.footer-link2 input{
	width:90%;
	height:2.5rem;
	position:relative;
}
.footer-link2 a{
	text-decoration:none;
	background-color: #5295ce;
	color:white;
	padding:0.8rem;
	position:absolute;
	border-color:#5295ce;
}
}
@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
}
.footer{
	background: #5c768d;
	padding:3rem;
}
.footer-flex{
	display:flex;
}
.footer-title{
	width:24%;
}
.footer-link{
	width:21%;
}
.footer-link2{
	width:34%;
}
.footer-title h1{
	color:white;
	font-size:1.6rem;
	font-weight:bold;
	margin-bottom:1.3rem;
}
.footer-title pre{
	color:white;
	line-height:1.5rem;
}
.footer-title p{
	color:white;
	line-height:1.5rem;
	margin-bottom:1.3rem;
}
.footer-title span{
	font-weight:bold;
}
.footer-title i{
	padding:0.5rem;
	background: #768fa6;
    color: #fff;
	border-radius:50%;
}
.footer-link{
	line-height:2.3rem;
	margin:inherit;
}
.footer-link h2{
	font-size:1.4rem;
	font-weight:bold;
	color:white;
}
.footer-link li{
	color:white;
}
.footer-link i{
	color: #9eccf4;
}
.footer-link2 h2{
	font-size:1.4rem;
	font-weight:bold;
	color:white;
	margin-bottom:1.4rem;
}
.footer-link2 p{
	font-size:1.1rem;
	color:white;
	margin-bottom:1.4rem;
}
.footer-link2 input{
	width:60%;
	height:2.5rem;
	position:relative;
}
.footer-link2 a{
	text-decoration:none;
	background-color: #5295ce;
	color:white;
	padding:0.8rem;
	position:absolute;
	border-color:#5295ce;
}
}
/*copyright section*/
@media(min-width:360px){
.container{
	width:90%;
	margin:auto;
}
.copyright{
	background-color: #587187;
	padding:3rem;
}
.copyright-content{
	text-align:center;
	color:white;
	line-height:1.2rem;
}
.copyright-content h3 span{
	font-weight:bold;
}
.copyright-content p span{
	color: #9eccf4;
}
}
@media(min-width:560px){
.container{
	width:90%;
	margin:auto;
}
.copyright{
	background-color: #587187;
	padding:3rem;
}
.copyright-content{
	text-align:center;
	color:white;
	line-height:1.2rem;
}
.copyright-content h3 span{
	font-weight:bold;
}
.copyright-content p span{
	color: #9eccf4;
}
}
@media(min-width:992px){
.container{
	width:85%;
	margin:auto;
}
.copyright{
	background-color: #587187;
	padding:3rem;
}
.copyright-content{
	text-align:center;
	color:white;
	line-height:1.2rem;
}
.copyright-content h3 span{
	font-weight:bold;
}
.copyright-content p span{
	color: #9eccf4;
}
}
